<%- model_class = ScrapOrderItem.new.class -%>
<% content_for :breadcrumb do %>
  <li><%= link_to t('views.home.title', default: 'Home'), root_path %></li>
  <li><span class='divider'>/</span></li>
  <li><%=t '.title', default: model_class.model_name.human.pluralize %></li>
<% end %>
<h1><%=t '.title', default: model_class.model_name.human.pluralize %></h1>

<div class='operation-group'>
  <div class='action-group'>
    <%= link_to t('.new', default: t('helpers.links.new')), new_scrap_order_item_path, class: 'btn-new' %>    
  </div>
</div>

<table class='table-listed'>
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:scrap_tool_part) %></th>
      <th><%= model_class.human_attribute_name(:replace_tool_part) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= t('.actions', default: t('helpers.actions')) %></th>
    </tr>
  </thead>
  <tbody>
    <% @scrap_order_items.each do |scrap_order_item| %>
      <tr>
        <td><%= scrap_order_item.scrap_tool_part %></td>
        <td><%= scrap_order_item.replace_tool_part %></td>
        <td><%= l(scrap_order_item.created_at) %></td>
        <td><div class='btn-group'>
          <%= link_to t('.show', default: t('helpers.links.show')), scrap_order_item_path(@scrap_order, scrap_order_item), class: 'btn-show' %>
          <%= link_to t('.edit', default: t('helpers.links.edit')), edit_scrap_order_item_path(@scrap_order, scrap_order_item), class: 'btn-edit' %>
          <%= link_to t('.destroy', default: t('helpers.links.destroy')), scrap_order_item_path(@scrap_order, scrap_order_item), confirm: t('.confirm', default: t('helpers.links.destroy_confirm', default: 'Are you sure?')), method: :delete, class: 'btn-destroy' %></div></td>
        </td>
      </tr>
    <% end %>
  </tbody>  
</table>
