<%- model_class = EngineModel.new.class -%>
<% content_for :breadcrumb do %>
  <li><%= link_to t('views.home.title', default: 'Home'), root_path %></li>
  <li><span class='divider'>/</span></li>
  <li><%=t '.title', default: model_class.model_name.human.pluralize %></li>
<% end %>
<h1><%=t '.title', default: model_class.model_name.human.pluralize %></h1>

<div class='operation-group'>
  <div class='action-group'>
    <%= link_to t('.new', default: t('helpers.links.new')), new_engine_model_path, class: 'btn-new' %>    
  </div>
</div>

<table class="table-listed">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= t('.actions', default: t('helpers.actions')) %></th>
    </tr>
  </thead>
  <tbody>
    <% @engine_models.each do |engine_model| %>
    <tr>
      <td><%= engine_model.name %></td>
      <td><%= engine_model.description %></td>
      <td><%= l(engine_model.created_at) %></td>
      <td><div class='btn-group'>
        <%= link_to t('.show', default: t('helpers.links.show')), engine_model, class: 'btn-show' %>
        <%= link_to t('.edit', default: t('helpers.links.edit')), edit_engine_model_path(engine_model), class: 'btn-edit' %>
        <%= link_to t('.destroy', default: t('helpers.links.destroy')), engine_model, confirm: t('.confirm', default: t('helpers.links.destroy_confirm', default: 'Are you sure?')), method: :delete, class: 'btn-destroy' %></div></td>
    </tr>
    <% end %>
  </tbody>
</table>
