<% content_for :breadcrumb do %>
  <li><%= link_to t('views.home.title', default: 'Home'), root_path %></li>
  <li><span class='divider'>/</span></li>
  <li><%= link_to t('engine_models.index.title'), engine_models_path %></li>
  <li><span class='divider'>/</span></li>
  <li><%= t('.title') %></li>
<% end %>
<h1><%= t('.title') %></h1>
<p>
  <b>><%= @engine_model.class.human_attribute_name(:name) %>:</b>
  <%= @engine_model.name %>
</p>

<p>
  <b>><%= @engine_model.class.human_attribute_name(:description) %>:</b>
  <%= @engine_model.description %>
</p>


<%= link_to t('helpers.links.edit'), edit_engine_model_path(@engine_model), class: 'btn-edit' %>
<%= link_to t('helpers.links.back'), engine_models_path, class: 'btn-back' %>
