<% content_for :breadcrumb do %>
  <li><%= link_to t('views.home.title', default: 'Home'), root_path %></li>
  <li><span class='divider'>/</span></li>
  <li>  
    <% if current_user and current_user.has_role? :admin %>
      <%= link_to t('users.index.title'), users_path %>
    <% else %>
      <%= t('users.index.title') %>
    <% end %>
  </li>
  <li><span class='divider'>/</span></li>
  <li><%= t('users.edit.title') %></li>
<% end %>
<h1><%= t('users.edit.title') %></h1>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name, :required => true, :autofocus => true %>
    <%= f.input :nickname, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
    <%= f.input :password_confirmation, :required => false %>
    <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>
