<% content_for :breadcrumb do %>
  <li><%= link_to t('views.home.title', default: 'Home'), root_path %></li>
  <li><span class='divider'>/</span></li>
  <li><%= link_to t('barcode_generators.new.title'), new_barcode_generator_path %></li>
  <li><span class='divider'>/</span></li>
  <li><%=t '.title' %></li>
<% end %>
<h1 style="display:none"><%=t '.title' %></h1>
<style type="text/css">
  table {
    text-align: center;
  }
  td { 
    width: 150px; 
    text-align: center; 
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5px; 
    padding-right: 5px;
    font-weight: bold; 
    font-size: 25px;
    /*border-bottom: 1px solid black;*/
  }
</style>
<%= @content_type %>
<%= @content_match %>
<table>
  <% @barcodes.each_slice(5) do |batch| %>
    <tr>
      <% batch.each do |str, png| %>
        <td>
          <%= image_tag png %>
          <span><%= str %></span>
        </td>
      <% end %>
        <% (5-batch.size).times do %>
          <%= raw "<td></td>" %>
        <% end %>
    </tr>
  <% end %>
</table>
