<% content_for :breadcrumb do %>
  <li><%= link_to t('views.home.title', default: 'Home'), root_path %></li>
  <li><span class='divider'>/</span></li>
  <li><%= link_to t('tool_materials.index.title'), tool_materials_path %></li>
  <li><span class='divider'>/</span></li>
  <li><%=link_to t('serving_parts.index.title'), tool_material_serving_parts_path(@tool_material) %></li>
  <li><span class='divider'>/</span></li>
  <li><%= t('.title') %></li>
<% end %>
<h1><%=t '.title'%></h1>

<%= render 'form' %>

<%= link_to t('helpers.links.back') , tool_material_serving_parts_path, class: 'btn-back' %>
