<% content_for :breadcrumb do %>  <li><%= link_to t('views.home.title', default: 'Home'), root_path %></li>
  <li><span class='divider'>/</span></li>
  <li><%= link_to t('tool_materials.index.title'), tool_materials_path %></li>
  <li><span class='divider'>/</span></li>
  <li><%= link_to t('serving_parts.index.title'), tool_material_serving_parts_path %></li>
  <li><span class='divider'>/</span></li>
  <li><%= t('.title') %></li>
<% end %>
<h1><%= t('.title') %></h1>
<%= image_tag @in_service_tool_part.barcode.archive.url if @in_service_tool_part.barcode %>
<%= image_tag @in_service_tool_part.qrcode.archive.url if @in_service_tool_part.qrcode %>
<p><b><%= @in_service_tool_part.class.human_attribute_name(:part_no) %></b>:<%= @in_service_tool_part.part_no %></p>
<p><b><%= @in_service_tool_part.class.human_attribute_name(:category) %></b>:<%= @in_service_tool_part.category %></p>
<p><b><%= @in_service_tool_part.class.human_attribute_name(:sub_category) %></b>:<%= @in_service_tool_part.sub_category %></p>
<p><b><%= @in_service_tool_part.class.human_attribute_name(:model) %></b>:<%= @in_service_tool_part.model %></p>
<p><b><%= @in_service_tool_part.class.human_attribute_name(:expected_quantity) %></b>:<%= @in_service_tool_part.expected_quantity %></p>
<p><b><%= @in_service_tool_part.class.human_attribute_name(:expected_sharpen_time) %></b>:<%= @in_service_tool_part.expected_sharpen_time %></p>
<br>
<%= link_to t('helpers.links.edit'), edit_tool_material_serving_part_path(@tool_material, @in_service_tool_part), class: 'btn-edit' %>
<%= link_to t('helpers.links.back'), tool_material_serving_parts_path, class: 'btn-back' %>
