<h1>Listing tunning_work_order_sharpen_items</h1>

<table>
  <tr>
    <th>Tunning work order</th>
    <th>Operation device</th>
    <th>Assembly tool</th>
    <th>Tool part</th>
    <th>Expected time</th>
    <th>Actual time</th>
    <th>Expected quantity</th>
    <th>Actual quantity</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tunning_work_order_sharpen_items.each do |tunning_work_order_sharpen_item| %>
  <tr>
    <td><%= tunning_work_order_sharpen_item.tunning_work_order %></td>
    <td><%= tunning_work_order_sharpen_item.operation_device_id %></td>
    <td><%= tunning_work_order_sharpen_item.assembly_tool_id %></td>
    <td><%= tunning_work_order_sharpen_item.tool_part_id %></td>
    <td><%= tunning_work_order_sharpen_item.expected_time %></td>
    <td><%= tunning_work_order_sharpen_item.actual_time %></td>
    <td><%= tunning_work_order_sharpen_item.expected_quantity %></td>
    <td><%= tunning_work_order_sharpen_item.actual_quantity %></td>
    <td><%= link_to 'Show', tunning_work_order_sharpen_item %></td>
    <td><%= link_to 'Edit', edit_tunning_work_order_sharpen_item_path(tunning_work_order_sharpen_item) %></td>
    <td><%= link_to 'Destroy', tunning_work_order_sharpen_item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tunning work order sharpen item', new_tunning_work_order_sharpen_item_path %>
