<%= simple_form_for(setup_assembly_tool(@assembly_tool), html: { class: 'form-horizontal' })  do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :product_line, :as => :radio_buttons, :item_wrapper_class => :inline %>
    <%= f.association :facility_type %>
    <%= f.association :facility_code, :as => :radio_buttons, :item_wrapper_class => :inline %>
    <%= f.association :workshop_process %>
    <%= f.association :engine_models, as: :check_boxes, multiple: true %>
    <%= f.input :hilt_no %>
    <%= f.input :processing_position %>
    <%= f.input :processing_hole %>
    <%= f.input :tool_part_quantity %>
    <%= f.input :rpm %>
    <%= f.input :first_velocity %>
    <%= f.input :max_diameter %>
    <%= f.input :max_velocity %>
    <%= f.input :feed_speed %>
    <%= f.input :blade_quantity %>
    <%= f.association :setting_device %>
    <%= f.association :setting_type %>
    <%= f.input :standard_setting_time %>
    <%= f.simple_fields_for :items do |item| %>
      <div class='header-info'><%= t('.assembly_tool_item') %></div>
      <%= item.association :tool_material %>
      <%= item.input :quantity %>
      <%= item.input :uom %>
      <%= item.association :sharpen_device %>
      <%= item.input :standard_sharpen_time %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
