<%- model_class = AssemblyTool.new.class -%>
<% content_for :breadcrumb do %>
  <li><%= link_to t('views.home.title', default: 'Home'), root_path %></li>
  <li><span class='divider'>/</span></li>
  <li><%=t '.title', default: model_class.model_name.human.pluralize %></li>
<% end %>
<h1><%=t '.title', default: model_class.model_name.human.pluralize %></h1>    

<div class='operation-group'>
  <div class='action-group'>
    <%= link_to t('.new', default: t('helpers.links.new')), new_assembly_tool_path, class: 'btn-new' %>
  </div>
</div>

<%= will_paginate @assembly_tools %>
<table class='table-listed'>
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:product_line) %></th>
      <th><%= model_class.human_attribute_name(:engine_models) %></th>
      <th><%= model_class.human_attribute_name(:facility_type) %></th>
      <th><%= model_class.human_attribute_name(:facility_code) %></th>
      <th><%= model_class.human_attribute_name(:workshop_process) %></th>
      <th><%= model_class.human_attribute_name(:hilt_no) %></th>
      <th><%= model_class.human_attribute_name(:is_confirm) %></th>
      <th><%= t('.actions', default: t('helpers.actions')) %></th>
    </tr>
  </thead>
  <tbody>
    <% @assembly_tools.each do |assembly_tool| %>
      <tr>
        <td><%= assembly_tool.product_line %></td>
        <td><%= raw li_engine_models(assembly_tool) %></td>
        <td><%= assembly_tool.facility_type %></td>
        <td><%= assembly_tool.facility_code %></td>
        <td><%= assembly_tool.workshop_process %></td>
        <td><%= assembly_tool.hilt_no %></td>
        <td><%= t assembly_tool.is_confirm.to_s %></td>
        <td><div class='btn-group'>
          <%= link_to t('.show', default: t('helpers.links.show')), assembly_tool, class: 'btn-show' %>
          <%= link_to t('.edit', default: t('helpers.links.edit')), edit_assembly_tool_path(assembly_tool), class: 'btn-edit' %>
          <%= link_to t('.index_assembly_tool_items', default: t('helpers.links.new')), assembly_tool_items_path(assembly_tool), class: 'btn-new' %>
          <%= link_to t('.confirm', default: t('helpers.links.confirm')), confirm_assembly_tool_path(assembly_tool), :method => :put, class: 'btn-edit' %>
          <%= link_to t('.destroy', default: t('helpers.links.destroy')), assembly_tool, confirm: t('.confirm', default: t('helpers.links.destroy_confirm', default: 'Are you sure?')), method: :delete, class: 'btn-destroy' %>
      </div></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @assembly_tools %>
