<% content_for :breadcrumb do %>
  <li><%= link_to t('views.home.title', default: 'Home'), root_path %></li>
  <li><span class='divider'>/</span></li>
  <li><%= link_to t('facility_types.index.title'), facility_types_path %></li>
  <li><span class='divider'>/</span></li>
  <li><%= t('.title') %></li>
<% end %>
<h1><%= t('.title') %></h1>
<p>
  <b>><%= @facility_type.class.human_attribute_name(:name) %>:</b>
  <%= @facility_type.name %>
</p>

<p>
  <b>><%= @facility_type.class.human_attribute_name(:description) %>:</b>
  <%= @facility_type.description %>
</p>


<%= link_to t('helpers.links.edit'), edit_facility_type_path(@facility_type), class: 'btn-edit' %>
<%= link_to t('helpers.links.back'), facility_types_path, class: 'btn-back' %>
