<%= simple_form_for(@assembly_tool_item, :url =>( @assembly_tool_item.new_record? ? assembly_tool_items_path(@assembly_tool) : assembly_tool_item_path(@assembly_tool,@assembly_tool_item))  ) do |f| %>  
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :assembly_tool, disabled: true %>
    <%= f.association :tool_material %>
    <%= f.input :quantity %>
    <%= f.association :sharpen_device %>
    <%= f.input :sharpen_time %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
