<%= simple_form_for(@assembly_tool_item, :url =>( @assembly_tool_item.new_record? ? assembly_tool_items_path(@assembly_tool) : assembly_tool_item_path(@assembly_tool,@assembly_tool_item))  ) do |f| %>  
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :assembly_tool, disabled: true %>
    <%= f.association :tool_material %>
    <%= f.input :quantity %>
    <%= f.input :uom %>
    <%= f.association :sharpen_device %>
    <%= f.input :standard_sharpen_time %>
    <%= f.association :serving_parts, collection: ToolPart.available(:assembly_tool_item => @assembly_tool_item).all, as: :check_boxes, multiple: true if @assembly_tool_item.tool_material %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
