<% content_for :breadcrumb do %>
  <li><%= link_to t('views.home.title', default: 'Home'), root_path %></li>
  <li><span class='divider'>/</span></li>
  <li><%= link_to t('setting_devices.index.title'), setting_devices_path %></li>
  <li><span class='divider'>/</span></li>
  <li><%= t('.title') %></li>
<% end %>
<h1><%= t('.title') %></h1>
<p>
  <b><%= @setting_device.class.human_attribute_name(:name) %>:</b>
  <%= @setting_device.name %>
</p>

<p>
  <b><%= @setting_device.class.human_attribute_name(:description) %>:</b>
  <%= @setting_device.description %>
</p>


<%= link_to t('helpers.links.edit'), edit_setting_device_path(@setting_device), class: 'btn-edit' %>
<%= link_to t('helpers.links.back'), setting_devices_path, class: 'btn-back' %>
