<%= simple_form_for(@combination_tool) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :assembly_tool %>
    <%= f.input :stock_status %>
    <%= f.input :stock_out_operator %>
    <%= f.input :stock_out_date %>
    <%= f.input :stock_in_operator %>
    <%= f.input :stock_in_date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
