<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title><%= content_for?(:title) ? yield(:title) : t('views.application.title') %></title>
    <%= stylesheet_link_tag "pdf", :media => "all" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body>
    <div style='width:100%; text-align:center;'><h1><%= t('views.application.company.title') %></h1></div>
      <%= yield %>
  </body>
</html>
